{{#each sortedContacts as |contact|}}
  <li class="test-contact"><span class="test-contact-name">{{contact.name}}</span> <span class="test-contact-primary-email">{{contact.primaryEmail}} +({{contact.moreEmails}})</span> <span class="test-contact-primary-phone">{{contact.primaryPhone}} +({{contact.morePhones}})</span></li>
{{/each}}

{{yield}}
